* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: sans-serif;
}

body {
    background-color: #0c7078;
    scroll-behavior: smooth;
}

.gap {
    height: 70px;
}

.header {
    /* background-color: white; */
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: #05161a;
    position: fixed;
    width: 100%;
}

.header > a {
    padding: 5px;
    width: 120px;
    text-align: center;
    margin: 0 10px;
    border-radius: 50px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    opacity: 0.7;
    transition: ease 0.9s opacity;
    background-color: #6da5c0;
}

.header > a:hover {
    opacity: 1;
}

.body-highlight {
    margin-top: 50px;
    background-color: #6da5c0;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    border-radius: 20px;
    padding: 20px;
}

.project-hl1 {
    margin-top: 20px;
    display: flex;
}

.hl {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    width: 115px;
    margin: 0 20px;
}

.hl1 > img {
    height: 80px;
    border: 4px solid white;
    border-radius: 50%;
    padding: 10px;
    margin: 0 50px;
}

.hl2 > img {
    height: 80px;
    border: 4px solid white;
    border-radius: 50%;
    padding: 10px;
    margin: 0 50px;
}

.hl3 > img {
    height: 80px;
    border: 4px solid white;
    border-radius: 50%;
    padding: 10px;
    margin: 0 50px;
}

.hl > p {
    margin-top: 15px;
}

#message {
    margin-right: 30px;
}

.myself {
    height: 550px;
    display: flex;
    align-items: center;
    background-color: #072e33;
    justify-content: center;
}

.myself-value {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.myself-name {
    margin-left: 30px;
    height: 90px;
}

.myself-value > img {
    height: 250px;
    border-radius: 50%;
    box-shadow: 0 0 20px 0 black;
    margin-left: 170px;
}

#name {
    font-size: 60px;
    color: white;
}

.desc {
    display: flex;
    font-size: 30px;
    color: white;
}

.changing-text {
    font-size: 43px;
    margin-top: 5px;
    margin-left: 8px;
    font-weight: bold;
}

.sosmed {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    font-size: 40px;
    align-items: center;
}

.sosmed > i {
    margin: 10px 0;
    color: white;
    margin-right: 30px;
    cursor: pointer;
}

.fa-whatsapp:hover {
    color: #128c7e;
}

.fa-instagram:hover {
    color: #dd2a7b;
}

.fa-github:hover {
    color: black;
}

.fa-youtube:hover {
    color: red;
}

.fa-envelope:hover {
    color: #0072c6;
}

.container-body {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-quotes {
    width: 50%;
    display: flex;
    padding: 10px;
    background-color: #6da5c0;
    border-radius: 20px;
    align-items: center;
    flex-direction: column;
}

.body-quotes > p {
    color: white;
    font-size: 40px;
    text-align: center;
}

.body-quotes > h1 {
    color: white;
    margin: 15px 0 0 0;
}